<!DOCTYPE html>
<html data-ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS & Bootstrap list-group-select plugin.</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../dist/css/angular-list-group-select.css">
</head>
<body>
<div class="container" data-ng-controller="exampleCtrl">
	<h4 class="page-header">ListGroupSelect example:</h4>
	<pre>&lt;list-group-select options="options" ng-model="model" display-column="displayColumn" sortable="isSortable" ng-change="changeFn()"&gt;&lt;/list-group-select&gt</pre>
	<list-group-select options="options" ng-model="model" display-column="displayColumn" sortable="isSortable"
					   ng-change="changeFn()"></list-group-select>
	<button ng-click="splice()" class="btn btn-default">Splice 1 option</button>
	<button ng-click="displayColumn=(displayColumn == 'email' ? undefined : 'email')" class="btn btn-default">
		Set display column to {{column == 'email' ? 'undefined' : 'email'}}
	</button>
	<button ng-click="isSortable=!isSortable" class="btn btn-default">Toggle sortable</button>
	<br/><br/>
	<p>Model value:</p>
	<pre>{{model | json}}</pre>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../dist/js/angular-list-group-select.js"></script>
<script type="text/javascript" src="example.js"></script>
</body>
</html>