/*!
 * AngularJS & Bootstrap list-group-select plugin.
 * Copyright (c) 2016-2018 Rodziu <mateusz.rohde@gmail.com>
 * License: MIT
 */
$link-color: #337ab7;
list-group-select [ng-click] {
  cursor: pointer;
  &.no-click {
    cursor: inherit;
  }
}
.list-group.list-group-select {
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
  > .list-group-item {
    font-size: 12px;
    padding: 4px 10px 3px;
    word-break: break-all;
    word-wrap: break-word;
  }
  &.list-group-select-selected {
    min-height: 250px + 110px;
    max-height: 250px + 110px;
    > .list-group-item > span > a > i {
      font-size: 140%;
    }
  }
}